.App {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}



.AppHeader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.AppIntro {
  font-size: large;
}

.App img {
  border: 2px solid red;
  height: 80px;
}


.grid {
	display: flex;
	justify-content: space-between;
}
.column{
	width: 24%;
}